<!--
Lists all posts accross all collections.
Sorts them by date.
Accepts a parameter to show just the most recent posts up to a LIMIT.
-->
<!-- All Post List -->
<!-- Get the parameter for list length -->
{% assign upto = include.upto | default: 10000 %}

<!-- Build an unified and sorted array with all articles. -->
{% assign all_posts = "" | split: "," %}
{% for collection in site.collections %}
  {% for post in collection.docs %}
    {% if post.type != "index"  %}
      {% assign all_posts = all_posts | push: post %}
    {% endif %}
  {% endfor %}
{% endfor %}
{% assign sorted_posts = all_posts | sort: post.date | reverse %}

{% for post in sorted_posts limit : upto %}

  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
      <h2 class="post-title">{{ post.title }}</h2>
      {% if post.subtitle %}
        <h3 class="post-subtitle">{{ post.subtitle }}</h3>
      {% else %}
        <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 30 }}</h3>
      {% endif %}
    </a>
    <p class="post-meta">Publicado por
      {% if post.author %}
        {{ post.author }}
      {% else %}
        {{ site.author }}
      {% endif %}
      {% include date.html content=post.date %} &middot; {% include read_time.html content=post.content %}
    </p>
  </article>
  <hr>

{% endfor %}
