<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>
    {% if page.title %}{{ page.title | escape }} - {{ site.title | escape }}
    {% else %}{{ site.title | escape }}{% endif %}
  </title>

  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 320 | escape }}">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://jorge-soria.github.io/desde-lejos/dia-a-dia/2023-10-02-Por-la-defensa-de-Bolivia.html">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Los ataques al Estado Plurinacional de Bolivia pasan por el 10. congreso del MAS-IPSP - Desde Lejos">
  <meta property="og:description" content="El 10. Congreso Nacional del MAS-IPSP es el punto focal de los ataques del gobierno y la oligarquía al Estado Plurinacional de Bolivia.">
  <meta property="og:image" content="https://jorge-soria.github.io/desde-lejos/images/dia-a-dia/2023-10-02-Por-la-defensa-de-Bolivia.png">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="jorge-soria.github.io">
  <meta property="twitter:url" content="https://jorge-soria.github.io/desde-lejos/dia-a-dia/2023-10-02-Por-la-defensa-de-Bolivia.html">
  <meta name="twitter:title" content="
    Los ataques al Estado Plurinacional de Bolivia pasan por el 10. congreso del MAS-IPSP - Desde Lejos

  ">
  <meta name="twitter:description" content="El 10. Congreso Nacional del MAS-IPSP es el punto focal de los ataques del gobierno y la oligarquía al Estado Plurinacional de Bolivia.">
  <meta name="twitter:image" content="https://jorge-soria.github.io/desde-lejos/images/dia-a-dia/2023-10-02-Por-la-defensa-de-Bolivia.png">









<meta property="og:image:type" content="image/png"/>


  <link rel="image_src" href="https://jorge-soria.github.io{{ page.background | prepend: site.baseurl | replace: '//', '/' }}"/>


  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="{{"/assets/main.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

</head>
