---
layout: default
---

<!--
Note that we depend of the following front matter myvariables defined in the index.md:
  - collection_name: Must match the collections label!
  - description: a short collection description
  - name: The collection's name
  - type: must be "index"
-->

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ page.name }}</h1>
            {% if page.description %}
            <span class="subheading">{{ page.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ page.content }}

        <!-- Home Post List -->
        {% for collection in site.collections %}
          {% if collection.label == page.collection_name %}
            {% assign sorted_posts = collection.docs | reverse %}
            {% for post in sorted_posts limit : 10 %}
              {% if post.type != "index" %}

                <article class="post-preview">
                  <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                    <h2 class="post-title">{{ post.title }}</h2>
                    {% if post.subtitle %}
                    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                    {% else %}
                    <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 30 }}</h3>
                    {% endif %}
                  </a>
                  <p class="post-meta">Publicado por
                    {% if post.author %}
                    {{ post.author }}
                    {% else %}
                    {{ site.author }}
                    {% endif %}
                    el
                    {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}
                  </p>
                </article>
                <hr>

              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">Todos los artículos &rarr;</a>
        </div>

      </div>
    </div>
  </div>
